body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #4267B2;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
}

.navbar {
  list-style: none;
  padding-right: 75px;
}

.nav-list-item {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #898F9C;
}

.projectFlexContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 25px 25px;
  width: calc(33.33% - 10rem);
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  text-align: center;
}

.projectFlexContainer img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.cl-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.cl-image-container img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #898F9C;
}

#aboutId,
#portfolioId,
#contactId,
#resumeId {
  text-decoration: none;
  color: white; 
}

#aboutId.active,
#portfolioId.active,
#contactId.active,
#resumeId.active {
  color: rgb(241, 216, 71);
}

.paragraph {
  text-align: center;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .projectFlexContainer {
    width: calc(50% - 50px);
  }
}

@media (max-width: 925px) {
  .projectFlexContainer {
    width: calc(80% - 20px);
  }
}

#project-header-text {
  display: flex;
  justify-content: center;
}

@media (max-width: 415px) {
  .projectFlexContainer {
    width: calc(75% - 10px);
  }
  .navbar {
    padding: 0;
  }
}

/* Resume pages CSS declarations below*/
.resume-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.download-link {
  display: block;
  margin: 20px;
  color: #007bff;
  text-decoration: none;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.proficiency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.proficiency-item {
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Resume pages CSS declarations above*/

.active {
  color: red;
}